button, option, a {
    background-color: #ff00ff22;
    border-radius: 10px;
    border: solid #000 1px;
    transition: all 0.2s ease;
    margin: 2px 3px;
}
button:hover, option:hover, a:hover {
    background-color: #ff00ff44;
    cursor: pointer;
}
#canv {
    border: solid #000 1px;
}
circle {
    transition: all 0.2s ease;
}
input {
    margin: 2px 3px;
}
.monospace {
    font-family: "Consolas", monospace;
}
.unimplemented {
    color: #f77;
}
option.unimplemented:hover {
    color: #f99;
    cursor: not-allowed;
}
